@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Sans+Narrow:400,700|PT+Sans+Caption:400,700);


@import "../../node_modules/cinderblocks/app/scss/cinder/base";

$cinder-grid-width: 1000px;
$cinder-grid-columns: 12;

// fonts

$cinder-px-context: 16;


$cinder-sans-font: 'PT Sans', sans-serif;
$cinder-mono-font: monospace;

$cinder-line-height: 1.5;
$cinder-line-height-small: 1.1;

@import "../../node_modules/cinderblocks/app/scss/cinder/helpers";
@import "../../node_modules/cinderblocks/app/scss/cinder/mixins";

@import "../../node_modules/cinderblocks/app/scss/cinder/typography";
@import "../../node_modules/cinderblocks/app/scss/cinder/grid";
@import "../../node_modules/cinderblocks/app/scss/cinder/visibility";

@import "../../node_modules/cinderblocks/app/scss/cinder/ui/dialog";
@import "../../node_modules/cinderblocks/app/scss/cinder/ui/pane";
@import "../../node_modules/cinderblocks/app/scss/cinder/ui/button";
@import "../../node_modules/cinderblocks/app/scss/cinder/ui/input";
@import "../../node_modules/cinderblocks/app/scss/cinder/ui/label";
@import "../../node_modules/cinderblocks/app/scss/cinder/ui/list";
@import "../../node_modules/cinderblocks/app/scss/cinder/ui/text";

// 

$cily-bgr-dark: #455A64;
$cily-bgr-dark-a: #607D8B;

$cily-action: #FF5722;

$cily-light: #CFD8DC;
$cily-dark: #212121;
$cily-medium: #727272;

$cily-border: #b6b6b6;