<section class="header--title row">
	<div class="col-1-fluid header--action project-menu js-go-back">
		<i class="ion-chevron-left"></i>
	</div>
	<div class="col-1-fluid header--action index-menu"></div>
	<div class="col-10-fluid cf">
		<h1 class="header--project-title semibold project-title">Projects</h1>
	</div>
	<div class="col-1-fluid header--action js-project-settings">
		<span class="project-action project-menu js-build">
			<a data-notrigger="true" href=""><i class="ion-erlenmeyer-flask"></i></a>
		</span>
		<a href="/projects/new"><i class="ion-plus-circled index-menu"></i></a>
	</div>
</section>

<section class="header--navigation project-menu row">
	<div class="col-12 up bold">
		<span class="header--nav-item js-overview"><a href="">Overview</a></span>
		<span class="header--nav-item js-tasks"><a href="">Tasks</a></span>
		<span class="header--nav-item js-users"><a href="">Users</a></span>
		<span class="header--nav-item js-settings"><a href="">Settings</a></span>
	</div>
</section>
