<section class="left-pane col-6">
	<h1 class="project-title">Cily <span class="project-vcs-type up">git</span></h1>
</section>
<section class="right-pane col-6">
	<ul class="menu-list project-menu cf up">
		<a href=""><li class="project-menu-item right js-settings">Settings</li></a>
		<a href=""><li class="project-menu-item right js-users">Users</li></a>
		<a href=""><li class="project-menu-item right js-tasks">Tasks</li></a>
		<a href=""><li class="project-menu-item right js-overview">Overview</li></a>
		<a data-notrigger="true" href=""><li class="project-menu-item right build js-build">BUILD</li></a>
	</ul>
</section>