<section class="bgr-overlay login-container">
	<section class="row login">
		<div class="col-12">
			<form action="" class="gridform">
				<section class="row">
					<fieldset class="gridform--container col-12 nb--top nb--left nb--right">
						<label for="username" class="label">Username</label>
						<input type="text" class="input" id="username" value="{{ username }}">
					</fieldset>
				</section>

				<section class="row">
					<fieldset class="gridform--container col-12 nb--top nb--left nb--right">
						<label for="password" class="label">Password</label>
						<input type="password" class="input" id="password">
					</fieldset>
				</section>

				<section class="row">
					<fieldset class="gridform--container col-12 nb--top nb--left nb--right">
						<label for="server" class="label">Server address & port</label>
						<input type="text" class="input" id="server" value="{{ server }}">
					</fieldset>
				</section>

				<section class="row">
					<button class="button up bold login--button js-login">Sign in</button>
				</section>
			</form>
		</div>
	</section>
</section>