<div class="left overview-project-builds--status __{{ status }}">
	<i class="fa"></i>
</div>
<div class="left commit">{{ msg }} {{ rev }}</div>
<div class="right datetime hide-xsmall">{{ datetime }}</div>