<section class="grid main">
	<section class="left-pane col-8">
		<ul class="overview-project-builds">
		
		</ul>
	</section>
	<section class="right-pane col-4">
		<ul class="overview-project-info">
			<li class="overview-project-info--item">
				<p class="label up">Type</p>
				<p class="text">{{ repo_type }}</p>
			</li>
			<li class="overview-project-info--item">
				<p class="label up">Repo</p>
				<p class="text">{{ repo_address }}</p>
			</li>
			<li class="overview-project-info--item">
				<p class="label up">Builds</p>
				<p class="text">
					<span class="all-builds">70</span> /
					<span class="successful-builds">65</span> /
					<span class="failed-builds">5</span>
				</p>
			</li>
			<li class="overview-project-info--item">
				<p class="label up">Tasks</p>
				<p class="text">1</p>
			</li>
			<li class="overview-project-info--item">
				<p class="label up">Branches</p>
				<p class="text">2</p>
			</li>
		</ul>
	</section>
</section>